In [40]:
import pandapower as pp

In [41]:
net = pp.create_empty_network()

BUSES IN THE MODEL

In [42]:
bus1 = pp.create_bus(net, name="HV BusBar 1", vn_kv=110, type="b")
bus2 = pp.create_bus(net, name="HV BusBar 2", vn_kv=110, type="b")
bus3 = pp.create_bus(net, name="HV Transformer Bus", vn_kv=110, type="n")
bus4 = pp.create_bus(net, name="MV Transformer Bus", vn_kv=20, type="n")
bus5= pp.create_bus(net, name="MV Main Bus", vn_kv=20, type="b")
bus6 = pp.create_bus(net, name="MV Bus 1", vn_kv=20, type="b")
bus7 = pp.create_bus(net, name="MV Bus 2", vn_kv=20, type="b")

In [43]:
net.bus

                 name  vn_kv type  zone  in_service
0         HV BusBar 1  110.0    b  None        True
1         HV BusBar 2  110.0    b  None        True
2  HV Transformer Bus  110.0    n  None        True
3  MV Transformer Bus   20.0    n  None        True
4         MV Main Bus   20.0    b  None        True
5            MV Bus 1   20.0    b  None        True
6            MV Bus 2   20.0    b  None        True

CONNECTING EXTERNAL GRID

In [44]:
pp.create_ext_grid(net, bus1, vm_pu=1.02, va_defree=50)
net.ext_grid

   name  bus  vm_pu  va_degree  slack_weight  in_service  va_defree
0  None    0   1.02        0.0           1.0        True       50.0

TRANSFORMER AND LINES

In [45]:
tranfo1 = pp.create_transformer(net, bus3, bus4, name="110kv/20kv transformer", std_type = "25 MVA 110/20 kV")

In [46]:
line1 = pp.create_line(net, bus1, bus2, length_km=10, std_type="N2XS(FL)2Y 1x300 RM/35 64/110 kV",  name="Line 1")
line2 = pp.create_line(net, bus5, bus6, length_km=2.0, std_type="NA2XS2Y 1x240 RM/25 12/20 kV", name="Line 2")
line3 = pp.create_line(net, bus6, bus7, length_km=3.5, std_type="48-AL1/8-ST1A 20.0", name="Line 3")
line4 = pp.create_line(net, bus7, bus5, length_km=2.5, std_type="NA2XS2Y 1x240 RM/25 12/20 kV", name="Line 4")

SWITCHES AND CIRCUIT BRAKERS

In [47]:
sw1 = pp.create_switch(net, bus2, bus3, et="b", type="CB", closed=True)
sw2 = pp.create_switch(net, bus4, bus5, et="b", type="CB", closed=True)

In [48]:
sw3 = pp.create_switch(net, bus5, line2, et="l", type="LBS", closed=True)
sw4 = pp.create_switch(net, bus6, line2, et="l", type="LBS", closed=True)
sw5 = pp.create_switch(net, bus6, line3, et="l", type="LBS", closed=True)
sw6 = pp.create_switch(net, bus7, line3, et="l", type="LBS", closed=False)
sw7 = pp.create_switch(net, bus7, line4, et="l", type="LBS", closed=True)
sw8 = pp.create_switch(net, bus5, line4, et="l", type="LBS", closed=True)

LOADS

In [49]:
pp.create_load(net, bus7, p_mw=2, q_mvar=4, scaling=0.6, name="load")
pp.create_load(net, bus7, p_mw=2, q_mvar=4, const_z_percent=30, const_i_percent=20, name="zip_load")


net.load

,name,bus,p_mw,q_mvar,const_z_percent,const_i_percent,sn_mva,scaling,in_service,type
0,load,6,2.0,4.0,0.0,0.0,NaN,0.6,True,wye
1,zip_load,6,2.0,4.0,30.0,20.0,NaN,1.0,True,wye

GENERATORS

In [50]:
pp.create_sgen(net, bus7, p_mw=2, q_mvar=-0.5, name="static generator")

net.sgen

,name,bus,p_mw,q_mvar,sn_mva,scaling,in_service,type,current_source
0,static generator,6,2.0,-0.5,NaN,1.0,True,wye,True

In [51]:
pp.create_gen(net, bus6, p_mw=6, max_q_mvar=3, min_q_mvar=-3, vm_pu=1.03, name="generator") 

net.gen

,name,bus,p_mw,vm_pu,sn_mva,min_q_mvar,max_q_mvar,scaling,slack,in_service,slack_weight,type
0,generator,5,6.0,1.03,NaN,-3.0,3.0,1.0,False,True,0.0,None

In [52]:

pp.create_shunt(net, bus3, q_mvar=-0.96, p_mw=0, name='Shunt')

net.shunt

   bus   name  q_mvar  p_mw  vn_kv  step  max_step  in_service
0    2  Shunt   -0.96   0.0  110.0     1         1        True